* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
.container {
  position: relative;
  top: 5rem;
  left: 50rem;
  /* background-color: black; */
  width: 50rem;
  height: 50rem;
  border-radius: 50%;
}
.container__circle {
  width: 7rem;
  height: 7rem;
  background-color: red;
  border-radius: 50%;
}
span {
  display: inline-block;
}
.container__circle:first-child {
  background: #886477;
  transform: translateY(20rem);
  animation-name: circle;
  animation-duration: 2s;
  animation-iteration-count:infinite;

}
.container__circle:nth-child(2) {
  background: #49dad6;
  transform: translateY(38rem);
  animation-name: circle2;
  animation-duration: 2s;
  animation-iteration-count:infinite;

}
.container__circle:nth-child(3) {
  background: #9bd7cd;
  transform: translateY(6rem) translateX(-7.9rem);
  animation-name: circle3;
  animation-duration: 2s;
  animation-iteration-count:infinite;

}
.container__circle:nth-child(4) {
  background: #979588;
  transform: translateY(0rem);
  animation-name: circle4;
  animation-duration: 2s;
  animation-iteration-count:infinite;

}
.container__circle:nth-child(5) {
  background: #8e614d;
  transform: translateY(43rem) translateX(-6.5rem);

  animation-name: circle5;
  animation-duration: 2s;
  animation-iteration-count:infinite;

}
.container__circle:nth-child(6) {
  background: #f4a53f;
  transform: translateY(5.9rem);
  animation-name: circle6;
  animation-duration: 2s;
animation-iteration-count:infinite;

}
.container__circle:nth-child(7) {
  background: #4e9cc5;
  transform: translateY(14rem) translateX(43rem);
  animation-name: circle7;
  animation-duration: 2s;
animation-iteration-count:infinite;

}
.container__circle:nth-child(8) {
  background: #804000;
  transform: translateY(30rem) translateX(29rem);
    /* transform: translateX(200%) translateY(20rem); */
animation-name: circle8;
animation-duration: 2s;
animation-iteration-count:infinite;
}
@keyframes circle {
  0% {
    transform: translateX(300%) translateY(20rem) scale(2);

  }
}
@keyframes circle2 {
  0% {
    transform: translateX(200%) translateY(20rem) scale(2);
    /* transform: translateY(38rem); */
  }
}
@keyframes circle3 {
  0% {
    transform: translateX(100%) translateY(20rem) scale(2);
  }
}
@keyframes circle4 {
  0% {
    transform: translateX(0%) translateY(20rem) scale(2);

  }
}
@keyframes circle5 {
  0% {
    transform: translateX(-100%) translateY(20rem) scale(2);
  }
}
@keyframes circle6 {
  0% {
    transform: translateX(-200%) translateY(20rem) scale(2);
  }
}
@keyframes circle7 {
  0% {
    transform: translateX(220px) translateY(14rem) scale(2);
  }
}
@keyframes circle8 {
  0%{
    transform: translateX(200%) translateY(15rem) scale(2);
  } 

}
}